{# src/NTE/AgathoklesBundle/Resources/views/Fiches/show.html.twig #}

{% extends "NTEAgathoklesBundle:Default:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/nteagathokles/js/jquery.elevateZoom-3.0.3.min.js') }}'></script>
{% endblock %}

{% block agathokles_content %}

    <div class="container" id="fiche">

        <div class="page-header">
          <h1 id="title">{% include "NTEAgathoklesBundle:Fiches:designation.html.twig" %}</h1>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% include "NTEAgathoklesBundle:Fiches:show/nav.html.twig" %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {% include "NTEAgathoklesBundle:Fiches:show/illustration.html.twig" %}
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                {% include "NTEAgathoklesBundle:Fiches:show/type.html.twig" %}
                {% include "NTEAgathoklesBundle:Fiches:show/matrice.html.twig" %}
                {% include "NTEAgathoklesBundle:Fiches:show/associations.html.twig" %}
                {% include "NTEAgathoklesBundle:Fiches:show/date.html.twig" %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% include "NTEAgathoklesBundle:Fiches:show/exemplaires.html.twig" %}
            </div>
        </div>

        <div class="row bottom-spacer">
            <div class="col-sm-12">
                {% include "NTEAgathoklesBundle:Fiches:show/nav.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}
