{% extends "NTEAgathoklesBundle:Default:email.html.twig" %}

{% block content %}
<html>
<head>
    <title>{{ titre }} - Agathokles - UniFR</title>
</head>
<body>
    {{ parent() }}
</body>
</html>
{% endblock %}
