{# src/NTE/AgathoklesBundle/Resources/views/Fiches/show/illustration.html.twig #}

<div class="panel panel-default masonry-grid-item">
    <div class="panel-heading">
        <h3 class="panel-title">Illustration</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            {% if fiche.images.0 is defined %}
                {% set big_image %} {% path fiche.images.0.media, 'reference' %} {% endset %}
                {% media fiche.images.0.media, 'ppt' with {'alt':  fiche.id, 'id': 'image_principale', 'data-zoom-image': big_image, 'with': '100%', 'class': 'img-thumbnail'} %}
                <p>
                    {% if fiche.images.0.caption %}
                        <pre class="bg-primary"><strong id="caption">{{ fiche.images.0.caption|raw }}</strong></pre>
                    {% endif %}
                </p>
                <p>
                    <a href="{% path fiche.images.0.media, 'reference' %}" onclick="popwindow('{% path fiche.images.0.media, 'reference' %}', 'image_principale');return false;" class="btn btn-xs btn-primary" id="img_original"><i class="fa fa-download"></i> Télécharger</a>
                </p>
            {% endif %}
            {% if fiche.images|length > 1 %}
                <div id="gallery" style="width=500px;">
                    {% for annexe in fiche.images %}
                        <a class="elevatezoom-gallery active" data-zoom-image="{% path annexe.media, 'reference' %}" data-image="{% path annexe.media, 'ppt' %}" data-update="" href="#" onclick="change_img('{% path annexe.media, 'ppt' %}', '{% path annexe.media, 'reference' %}','{{ annexe.caption }}');" id="gallery_img_{{ loop.index }}"><img src="{% path annexe.media, 'small' %}" id="gallery_thumb_{{ loop.index }}"></a>
                    {% endfor %}
                </div>
            {% endif %}
        </table>
    </div>
</div>

<script>
    function popwindow(url, id) {
        if (id == 'image_principale') {
            var height = document.getElementById(id).height * 3;
            var width = document.getElementById(id).width * 3;
        } else {
            var height = document.getElementById(id).height * 6;
            var width = document.getElementById(id).width * 6;
        }
        window.open(url,'Illustration','height='+height+',width='+width);
    }

    function change_img(ppt, original, caption) {
        $("#caption").html(caption);
        $('#img_original').attr('href', original);
        $('#img_original').attr('onclick', "popwindow('" + original + "', 'image_principale');return false;");
    }

    $("#image_principale").elevateZoom({
        gallery : "gallery",
        galleryActiveClass: "active",
        cursor: "crosshair",
        zoomWindowFadeIn: 500,
        zoomWindowFadeOut: 750,
        zoomWindowPosition: 1,
        responsive: true,
        scrollZoom : true,
        onImageSwapComplete: function() {
            $('.masonry-grid').masonry('layout');
        }
    });
</script>
