{# src/NTE/AgathoklesBundle/Resources/views/Fiches/show/matrice.html.twig #}

<div class="panel panel-default masonry-grid-item">
    <div class="panel-heading">
        <h3 class="panel-title">Matrice</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            {% if fiche.cadre %}
                <tr>
                    <td><strong>Cadre</strong></td>
                    <td>
                        {{ fiche.cadre.nom }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.bouton %}
                <tr>
                    <td><strong>Bouton</strong></td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success" title="oui" title="oui" aria-hidden="true"></span>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.grenetis %}
                <tr>
                    <td><strong>Grenetis</strong></td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success" title="oui" aria-hidden="true"></span>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.ombilic %}
                <tr>
                    <td><strong>Ombilic</strong></td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success" title="oui" aria-hidden="true"></span>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.legendeTournante %}
                <tr>
                    <td><strong>Légende tournante</strong></td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success" title="oui" aria-hidden="true"></span>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.legendeRetrograde %}
                <tr>
                    <td><strong>Légende rétrograde</strong></td>
                    <td>
                        {{ fiche.legendeRetrograde }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.lettreLunaire %}
                <tr>
                    <td><strong>Lettre lunaire</strong></td>
                    <td>
                        {{ fiche.lettreLunaire|e }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.particulariteOrthographique %}
                <tr>
                    <td><strong>Particularité<br>orthographique</strong></td>
                    <td>
                        {{ fiche.particulariteOrthographique }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.retrogravure %}
                <tr>
                    <td><strong>Retrogravure</strong></td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success" title="oui" aria-hidden="true"></span>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
