{# src/NTE/AgathoklesBundle/Resources/views/Fiches/show/nav.html.twig #}

{% set timbres_subset = app.session.get('timbres_subset') %}
{% set params = app.session.get('timbres_params') %}
{% set back_path = path('timbres', params) %}

{% if timbres_subset == "epo" %}
    {% set back_path = path('timbres_eponymes', params) %}
{% elseif timbres_subset == "fab" %}
    {% set back_path = path('timbres_fabricants', params) %}
{% elseif timbres_subset == "bin" %}
    {% set back_path = path('timbres_binominaux', params) %}
{% elseif timbres_subset == "amp" %}
    {% set back_path = path('timbres_amphores', params) %}
{% endif %}

<a href="{{ back_path }}" class="btn btn-default btn-block btn-back">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Retour à la liste
</a>
