{# src/NTE/AgathoklesBundle/Resources/views/Fiches/show/nav.html.twig #}

{% set matrices_subset = app.session.get('matrices_subset') %}
{% set params = app.session.get('matrices_params') %}
{% set back_path = path('matrices', params) %}

{% if matrices_subset == "epo" %}
    {% set back_path = path('matrices_eponymes', params) %}
{% elseif matrices_subset == "fab" %}
    {% set back_path = path('matrices_fabricants', params) %}
{% elseif matrices_subset == "bin" %}
    {% set back_path = path('matrices_binominaux', params) %}
{% elseif matrices_subset == "amp" %}
    {% set back_path = path('matrices_amphores', params) %}
{% endif %}

<div class="text-right">
    <a href="{{ back_path }}" class="btn btn-primary btn-back">
        <i class="fa fa-arrow-circle-left"></i> Liste
    </a>
</div>
