{# src/NTE/AgathoklesBundle/Resources/views/Timbres/index.html.twig #}

{% extends "NTEAgathoklesBundle:Default:layout.html.twig" %}

{% block agathokles_content %}

    <div class="container">
        hello world
    </div>
{% endblock %}
