/* -----------------------------------*/
/* >>>>>>>>>>>>> General
/* -----------------------------------*/
.footer {
    margin-top: 100px;
}

.bottom-spacer {
    margin-top: 100px;
}

/* -----------------------------------*/
/* >>>>>>>>>>>>> Fiches entity
/* -----------------------------------*/
@media screen and (max-width: 480px){
    #fiches .masonry-grid-sizer, #fiches .masonry-grid-item {
        width: 100%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    #fiches .masonry-grid-sizer, #fiches .masonry-grid-item {
        width: 49%;
    }
}
@media screen and (min-width: 769px) {
    #fiches .masonry-grid-sizer, #fiches .masonry-grid-item {
        width: 32%;
    }
}
@media screen and (max-width: 480px){
    #fiche .masonry-grid-sizer, #fiche .masonry-grid-item {
        width: 100%;
    }
}
@media screen and (min-width: 481px) {
    #fiche .masonry-grid-sizer, #fiche .masonry-grid-item {
        width: 49%;
    }
}

/* -----------------------------------*/
/* >>>>>>>>>>>>> Map
/* -----------------------------------*/
.leaflet-container .btn {
    color: #fff !important;
}

#map-container {
    padding-left: 15px;
    padding-right: 15px;
}
#map {
    width: 100%;
}
#map-data { display: none; }
