/* -----------------------------------*/
/* >>>>>>>>>>>>> General
/* -----------------------------------*/
.footer {
    margin-top: 100px;
}

.bottom-spacer {
    margin-top: 100px;
}

/* -----------------------------------*/
/* >>>>>>>>>>>>> Fiches entity
/* -----------------------------------*/
@media screen and (max-width: 480px){
    #fiches .masonry-grid-sizer, #fiches .masonry-grid-item {
        width: 100%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    #fiches .masonry-grid-sizer, #fiches .masonry-grid-item {
        width: 49%;
    }
}
@media screen and (min-width: 769px) {
    #fiches .masonry-grid-sizer, #fiches .masonry-grid-item {
        width: 32%;
    }
}
@media screen and (max-width: 480px){
    #fiche .masonry-grid-sizer, #fiche .masonry-grid-item {
        width: 100%;
    }
}
@media screen and (min-width: 481px) {
    #fiche .masonry-grid-sizer, #fiche .masonry-grid-item {
        width: 49%;
    }
}

/* -----------------------------------*/
/* >>>>>>>>>>>>> Map
/* -----------------------------------*/
.leaflet-container .btn {
    color: #fff !important;
}

#map-container {
    padding-left: 15px;
    padding-right: 15px;
}
#map {
    width: 100%;
}
#map-data { display: none; }

.map-slider-tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: -26px;
	padding: 5px;
	left: -9px;
	text-align: center;
	width: 50px;
    font-weight: bold;
}

.noUi-connect {
    background: #00134a !important;
}
